* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center / cover;

  min-height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;

  color: var(--text-color);
}

#app {
  width: 100%;
  max-width: 76.8rem;
  margin: 5.6rem auto 0;
  padding: 0 2.4rem;
}

header {
  text-align: center;

  padding: 2.4rem 0;
}

header img {
  width: 12.8rem;
}

h1 {
  font-weight: 700;
  font-size: 2.4rem;

  margin: 0.8rem 0 1.6rem 0;
}

p {
  line-height: 2.4rem;
}

#switch {
  margin: 2rem 2rem 0 0;

  width: 6.4rem;

  position: absolute;
  top: 0;
  right: 0;
}

#switch #switch-button {
  width: 3.2rem;
  height: 3.2rem;
  background: white var(--switch-bg-url) no-repeat center;
  border: none;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  animation: slide-back 0.2s forwards;
  top: 50%;
  transform: translateY(-50%);
}

#switch #switch-button:hover {
  outline: 0.8rem solid var(--highlight-color);
}

.light #switch #switch-button {
  animation: slide-in 0.2s forwards;
}

#switch span {
  display: block;
  width: 6.4rem;
  height: 2.4rem;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  padding: 2.4rem 0;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.6rem 2.4rem;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 0.8rem;

  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

footer {
  padding: 2.4rem 0;
}

footer p {
  text-align: center;

  font-size: 1.4rem;
}

@media (min-width: 70rem) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }

  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }

  to {
    left: 0;
  }
}
