body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */
  background: url(./assets/bg-mobile.jpg) no-repeat top center / cover;
}

#container {
  width: 360px;
  border: 1px solid red;
  margin: auto;
}

#profile img {
  width: 112px;
}
